* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dcd9d9;
}

.favourite-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 80px auto;
  color: #fff;
  background-color: #272756;
  padding: 8px;
  border-radius: 15px;
}
